---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import aboutUsImg from '~/assets/images/about-us-header.png';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: aboutUsImg.src,
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-primary dark:text-white highlight">Ohio Windows & More</span>
    </Fragment>

    <Fragment slot="subtitle">
      With over 30 years of experience in the construction field, Ohio Windows & More brings the expertise, simplicity,
      and satisfaction you need right to your front door. Locally owned and operated, our team of skilled craftsmen are
      dedicated to delivering top-notch carpentry services, from replacement windows to siding to roofing, we tailor
      everything to meet your unique needs.
      <br />
      Whether you’re renovating your home or embarking on a new construction project, you can trust Ohio Windows & More to
      enhance the beauty and functionality of your spaces with precision and care. Let us turn your vision into reality with
      our unparalleled craftsmanship and dedication to excellence.
    </Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Services"
    subtitle="Enhance your home's beauty, efficiency, and value with our premium replacement windows, roofing, and siding solutions."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Replacement Windows',
        description:
          'Upgrade to energy-efficient windows that improve comfort, lower energy bills, and add value to your home. Our custom window solutions include double-hung, vinyl, and storm windows tailored to your needs.',
        icon: 'tabler:window',
      },
      {
        title: 'Roofing',
        description:
          'Protect your home with durable, high-quality roofing systems designed to withstand the toughest weather conditions. Our roofing solutions combine functionality with curb appeal to increase property value.',
        icon: 'tabler:home',
      },
      {
        title: 'Siding',
        description:
          'Transform your home’s exterior with premium siding options that boost energy efficiency, reduce maintenance, and improve weather resistance. Choose from vinyl, fiber cement, or wood siding to suit your style.',
        icon: 'tabler:wind',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: '/contact',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      Ohio Windows<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> & More</span>
    </Fragment>

    <Fragment slot="subtitle"> Contact us today for a free estimate</Fragment>
  </CallToAction>
</Layout>
