---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-primary dark:text-white highlight">Ohio Windows & More</span>
    </Fragment>

    <Fragment slot="subtitle">
      With over 30 years of experience in the construction field, Ohio Windows & More brings the expertise, simplicity,
      and satisfaction you need right to your front door. Locally owned and operated, our team of skilled craftsmen are
      dedicated to delivering top-notch carpentry services, from replacement windows to siding to roofing, we tailor
      everything to meet your unique needs. Whether you’re renovating your home or embarking on a new construction
      project, you can trust Ohio Windows & More to enhance the beauty and functionality of your spaces with precision
      and care. Let us turn your vision into reality with our unparalleled craftsmanship and dedication to excellence.
    </Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Services"
    subtitle="Etiam scelerisque, enim eget vestibulum luctus, nibh mauris blandit nulla, nec vestibulum risus justo ut enim. Praesent lacinia diam et ante imperdiet euismod."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Replacement Windows',
        description:
          'Reach your target audience with precision and drive real results with our cutting-edge ad streaming technology.',
        icon: 'tabler:window',
      },
      {
        title: 'Roofing',
        description:
          'Make data-driven decisions with our real-time ad analytics, providing you with actionable insights to optimize your ad performance.',
        icon: 'tabler:home',
      },
      {
        title: 'Siding',
        description:
          'Effortlessly create, manage, and optimize your ad campaigns with our intuitive platform, designed to save you time and resources.',
        icon: 'tabler:wind',
      },
    ]}
  />

  <Features2
    title="Ohio Windows & More"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse plateea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
