---
import Layout from '~/layouts/PageLayout.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ohioWindowsMore from '~/assets/images/ohio-windows-and-more.png';
import sidingHeader from '~/assets/images/replacement-windows.jpg';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Ohio Windows & More - Replacement Window Experts',
  metaDescription:
    'Ohio Windows & More is a leading replacement window company, specializing in replacement windows and new windows installations.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    logo={ohioWindowsMore}
    image={sidingHeader}
    actions={[
      {
        variant: 'primary',
        text: 'Contact us for your free estimate',
        href: '/contact',
        icon: 'tabler:mail',
        class: 'mx-2 text-left',
      },
      // { text: 'Learn more', href: '#features', class: 'mx-2' },
    ]}
  >
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Ohio Windows & More</span> provides top-notch window replacement services, new window
        installation, siding, and roofing services.</span
      >
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Energy-Efficient Replacement Windows"
    title="Why Choose Our Replacement Windows?"
    items={[
      {
        title: 'Tailored Window Solutions',
        description: 'We customize our replacement windows to suit your home’s style and energy needs.',
      },
      {
        title: 'Unmatched Quality',
        description: 'Our premium vinyl and double-hung windows are designed to deliver durability and elegance.',
      },
    ]}
    image={{
      src: '~/assets/images/replacement-window-advantage.jpg',
      alt: 'Replacement Windows Image',
      width: '75%',
      height: 'auto',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Energy-Efficient Replacement Windows
      </h3>
      Enhance your home’s comfort and efficiency with our expertly installed windows. Whether you need double-hung, bay,
      or storm windows, our tailored solutions guarantee satisfaction and long-lasting performance.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Affordable Window Replacement Costs',
        description: `Our replacement windows are competitively priced, offering the best value for your home improvement needs without compromising quality.`,
      },
      {
        title: 'Custom Window Solutions',
        description:
          'We work closely with you to understand your style and energy efficiency needs, providing tailored window solutions that fit your home perfectly.',
      },
    ]}
    image={{
      src: '~/assets/images/windows-hero-secondary.jpg',
      alt: 'Replacement Windows Image',
      width: '75%',
      height: 'auto',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Replacement Window Advantage</h3>
      Our commitment to energy efficiency, durability, and customer satisfaction sets us apart in the replacement window
      industry.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Ohio Windows & More"
    subtitle="Experience the difference with Ohio Windows & More's comprehensive supply and installation solutions for trim, doors, and windows."
    items={[
      {
        title: 'Improved Energy Efficiency',
        description: `Replacement windows often feature better insulation technologies, such as double or triple-pane glass, Low-E coatings, and gas fills (like argon or krypton). These features can significantly reduce energy loss, keeping your home warmer in the winter and cooler in the summer. As a result, you can save money on heating and cooling bills.`,
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Enhanced Home Comfort',
        description:
          'Better-insulated windows help to minimize drafts, reduce noise from outside, and maintain a more consistent temperature throughout your home. Improved thermal performance can also help reduce condensation and related moisture problems inside your home.',
        icon: 'tabler:components',
      },
      {
        title: 'Increased Home Value',
        description:
          "Replacement windows can boost the market value of your property. They are considered a strong selling point for prospective buyers, especially if they improve the home's energy efficiency and aesthetic appeal. Homeowners can expect a solid return on investment when they upgrade their windows.",
        icon: 'tabler:currency',
      },
      {
        title: 'Aesthetics and Curb Appeal',
        description:
          'New windows can dramatically enhance the appearance of your home, both inside and out. They come in various styles, colors, and finishes to complement your home’s design, allowing for a fresh, updated look that can make your property more visually appealing.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Reduced Maintenance',
        description:
          'Modern windows are designed to be low-maintenance. Materials like vinyl and fiberglass require less upkeep than traditional wooden frames, and features like tilt-in sashes make cleaning easier. Durable construction also means they are less likely to need repairs over time.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Improved Security and Safety',
        description:
          'Replacement windows often come with upgraded locks and reinforced glass, making your home more secure against break-ins. Additionally, windows that open and close smoothly can serve as emergency exits during fires or other emergencies.',
        icon: 'tabler:components',
      },
      {
        title: 'Noise Reduction',
        description:
          'Windows with advanced glazing and better seals can greatly reduce noise from the outside. This is especially beneficial if you live in a busy or loud neighborhood and want a quieter indoor environment.',
        icon: 'tabler:alarm',
      },
    ]}
  />

  <Note />

  <!-- FAQs Widget ******************* -->
  <FAQs
    title="Frequently Asked Questions"
    subtitle="Why Choose Our Replacement Windows?"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'How do replacement windows improve energy efficiency?',
        description:
          'Our replacement windows feature advanced insulation technologies, including double or triple-pane glass, Low-E coatings, and gas fills like argon or krypton. These enhancements reduce energy loss, keeping your home warmer in winter and cooler in summer while lowering heating and cooling costs.',
      },
      {
        title: 'What are the benefits of improved home comfort with replacement windows?',
        description:
          'Replacement windows help minimize drafts, reduce noise from outside, and maintain a consistent temperature throughout your home. They also reduce condensation, helping to prevent moisture-related issues indoors.',
      },
      {
        title: 'How do replacement windows impact my home’s value?',
        description:
          'New windows can significantly boost your home’s market value. Energy-efficient and visually appealing windows are a strong selling point for prospective buyers, offering a great return on investment.',
      },
      {
        title: 'Can replacement windows enhance my home’s curb appeal?',
        description:
          'Absolutely! Our windows come in various styles, colors, and finishes to match your home’s design. They provide a fresh, updated look that enhances both interior and exterior aesthetics.',
      },
      {
        title: 'Are replacement windows low-maintenance?',
        description:
          'Yes! Modern replacement windows are designed for durability and ease of maintenance. Materials like vinyl and fiberglass require minimal upkeep, and features like tilt-in sashes make cleaning effortless.',
      },
      {
        title: 'How do replacement windows improve security and safety?',
        description:
          'Our windows are equipped with upgraded locks and reinforced glass for enhanced security against break-ins. Additionally, smooth-operating windows can serve as reliable emergency exits during unforeseen situations.',
      },
      {
        title: 'Can replacement windows help with noise reduction?',
        description:
          'Yes, our windows use advanced glazing and superior seals to significantly reduce outside noise. This is especially beneficial for homes in busy neighborhoods, providing a quieter and more comfortable indoor environment.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: '/contact',
        icon: 'tabler:list',
      },
    ]}
  >
    <Fragment slot="title">
      Ohio Windows<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> & More</span>
    </Fragment>

    <Fragment slot="subtitle">
      Ohio Windows & More<br class="hidden md:inline" /> Building your future
    </Fragment>
  </CallToAction>
</Layout>
