---
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Content from "~/components/widgets/Content.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";

const metadata = {
  title: "Ohio Windows and More - Construction Experts",
  metaDescription:
    "Ohio Windows and More is a leading construction company, specializing in trim and door solutions, and new windows installations.",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: "primary",
        text: "Contact Us",
        href: "/contact",
        icon: "tabler:list",
        class: "mx-2 text-left",
      },
      // { text: 'Learn more', href: '#features', class: 'mx-2' },
    ]}
    image={{
      src: "~/assets/images/hero-image.png",
      alt: "Ohio Windows and More Hero Image",
    }}
  >
    <Fragment slot="title">
      Ohio Windows<span class="text-accent dark:text-white highlight">
        and More</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Ohio Windows and More</span> provides top-notch
        construction services, including trim and door solutions and new window installation.</span
      >
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Construction Excellence"
    title="Why Ohio Windows and More?"
    items={[
      {
        title: "Tailored Solutions",
        description:
          "We customize our construction services to meet your specific needs and preferences.",
      },
      {
        title: "Quality Craftsmanship",
        description:
          "Our skilled team ensures that every project is completed with the highest standards of quality.",
      },
    ]}
    image={{
      src: "~/assets/images/hero-image-construction.png",
      alt: "Construction Image",
      width: "75%",
      height: "auto",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Ohio Windows and More
      </h3>
      Elevating your construction projects: our competitive pricing and expert services
      guarantee satisfaction and durability.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: "Competitive Pricing",
        description: `Ohio Windows and More offers competitive pricing for our construction services, ensuring you get the best value for your project.`,
      },
      {
        title: "Customized Construction Solutions",
        description:
          "Our team of experts works closely with you to understand your unique needs and preferences, delivering tailored construction solutions that meet your expectations.",
      },
    ]}
    image={{
      src: "~/assets/images/construction-sidebyside.png",
      alt: "Construction Site Image",
      width: "75%",
      height: "auto",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        The Construction Advantage
      </h3>
      Our commitment to quality, precision, and customer satisfaction sets us apart
      in the construction industry.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gray-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Ohio Windows and More"
    subtitle="Experience the difference with Ohio Windows and More's comprehensive supply and installation solutions for trim, doors, and windows."
    items={[
      {
        title: "Improved Energy Efficiency",
        description: `Replacement windows often feature better insulation technologies, such as double or triple-pane glass, Low-E coatings, and gas fills (like argon or krypton). These features can significantly reduce energy loss, keeping your home warmer in the winter and cooler in the summer. As a result, you can save money on heating and cooling bills.`,
        icon: "tabler:brand-tailwind",
      },
      {
        title: "Enhanced Home Comfort",
        description:
          "Better-insulated windows help to minimize drafts, reduce noise from outside, and maintain a more consistent temperature throughout your home. Improved thermal performance can also help reduce condensation and related moisture problems inside your home.",
        icon: "tabler:components",
      },
      {
        title: "Increased Home Value",
        description:
          "Replacement windows can boost the market value of your property. They are considered a strong selling point for prospective buyers, especially if they improve the home's energy efficiency and aesthetic appeal. Homeowners can expect a solid return on investment when they upgrade their windows.",
        icon: "tabler:currency",
      },
      {
        title: "Aesthetics and Curb Appeal",
        description:
          "New windows can dramatically enhance the appearance of your home, both inside and out. They come in various styles, colors, and finishes to complement your home’s design, allowing for a fresh, updated look that can make your property more visually appealing.",
        icon: "tabler:bulb",
      },
      {
        title: "Reduced Maintenance",
        description:
          "Modern windows are designed to be low-maintenance. Materials like vinyl and fiberglass require less upkeep than traditional wooden frames, and features like tilt-in sashes make cleaning easier. Durable construction also means they are less likely to need repairs over time.",
        icon: "tabler:brand-tailwind",
      },
      {
        title: "Improved Security and Safety",
        description:
          "Replacement windows often come with upgraded locks and reinforced glass, making your home more secure against break-ins. Additionally, windows that open and close smoothly can serve as emergency exits during fires or other emergencies.",
        icon: "tabler:components",
      },
      {
        title: "Noise Reduction",
        description:
          "Windows with advanced glazing and better seals can greatly reduce noise from the outside. This is especially beneficial if you live in a busy or loud neighborhood and want a quieter indoor environment.",
        icon: "tabler:alarm",
      },
    ]}
  />
  <!-- // Note Widget ******************* -->

  <Note />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Why Ohio Windows and More?"
    tagline="FAQs"
    classes={{ container: "max-w-6xl" }}
    items={[
      {
        title: "What sets your construction services apart?",
        description:
          "We pride ourselves on our attention to detail, commitment to quality, and customer satisfaction. Our team of experts works closely with you to understand your unique needs and preferences, delivering tailored construction solutions that meet your expectations.",
      },
      {
        title: "How do you ensure quality in your construction projects?",
        description:
          "We have a rigorous quality control process in place to ensure that every project meets the highest standards of quality. Our team of skilled professionals is dedicated to delivering exceptional results, and we stand behind our work.",
      },
      {
        title: "Can you provide customized construction solutions?",
        description:
          "Yes, we offer customized construction solutions to meet your specific needs and preferences. Our team will work closely with you to understand your vision and deliver a tailored solution that meets your expectations.",
      },
      {
        title: "What is your process for managing construction projects?",
        description:
          "We have a proven process in place for managing construction projects, from initial consultation to project completion. Our team will work closely with you to ensure that your project is completed on time, within budget, and to your satisfaction.",
      },
      {
        title:
          "Do you offer competitive pricing for your construction services?",
        description:
          "Yes, we offer competitive pricing for our construction services. We believe in providing the best value for our clients, and we strive to deliver high-quality services at a fair price.",
      },
      {
        title:
          "Why should I choose Ohio Windows and More for my construction needs?",
        description:
          "We believe that our commitment to quality, precision, and customer satisfaction sets us apart in the construction industry. We take the time to understand your unique needs and preferences, and we deliver tailored construction solutions that meet your expectations.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: "primary",
        text: "Contact Us",
        href: "/contact",
        icon: "tabler:list",
      },
    ]}
  >
    <Fragment slot="title">
      Ohio Windows<br class="block sm:hidden" /><span
        class="sm:whitespace-nowrap"
      >
        and More</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      Ohio Windows and More<br class="hidden md:inline" /> Building your future
    </Fragment>
  </CallToAction>
</Layout>
